@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98%;

    --primary: 83 92% 65%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 8%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 8%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 8%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 10%;
    --ring: 0 0% 83.1%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  @apply w-2;
  @apply h-2;
}

::-webkit-scrollbar-track {
  @apply !bg-muted;
}
::-webkit-scrollbar-thumb {
  @apply rounded-sm !bg-muted-foreground/30;
}

html {
  scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
}

/* Firefox */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
html {
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.05);
}
html.dark {
  scrollbar-color: rgba(255, 255, 255, 0.1) rgba(0, 0, 0, 0.05);
}
